
# == project ==
# Get your key from: https://openweathermap.org/ for the example
WAVS_ENV_OPEN_WEATHER_API_KEY="00000000000000000000000000000000"

# WAVS
WAVS_DATA=~/wavs/data
WAVS_LOG_LEVEL="info, wavs[{subsys=TriggerManager}]=debug"
WAVS_SUBMISSION_MNEMONIC="test test test test test test test test test test test junk"
WAVS_AGGREGATOR_MNEMONIC="test test test test test test test test test test test junk"
WAVS_COSMOS_SUBMISSION_MNEMONIC="cosmos mnemonic here"

# CLI
WAVS_CLI_DATA=~/wavs/cli
WAVS_CLI_COSMOS_MNEMONIC="cosmos mnemonic here"
WAVS_CLI_ETH_MNEMONIC="test test test test test test test test test test test junk"
WAVS_CLI_LOG_LEVEL="info, wavs_cli=debug"

# Aggregator
WAVS_AGGREGATOR_DATA=~/wavs/aggregator
WAVS_AGGREGATOR_MNEMONIC="test test test test test test test test test test test junk"
