[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/WAVS"]
	path = lib/WAVS
	url = https://github.com/Lay3rLabs/WAVS
	branch = 58b1d93fef05b056cbd02e7c6be3ba76c39eed89
